
.sider-container{
    background-color: #fff;
    height: 100vh;
    font-weight: 500;
    

    :global(.ant-menu-title-content){
        text-align: left;
        padding-left: 8px;
    }

    :global(.ant-layout-sider-zero-width-trigger){
        color: #fff;
        background-color: #1a53ee;
        top: 8px;
    }

    :global(.ant-menu-item-selected){
        background-color: #1a53ee;
    }

    :global(.ant-menu-item-selected){
        color: #fff;
    }

    :global(.ant-menu-item){
        border-radius: 0px;
    }

}

.menu-container{
    min-height: 116px;
    background: #fff;
}

.wrap-header{
    // height: 5vh;
    border-bottom: 1px solid #dedede;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    margin-bottom: 12px;
}

.wrap-selects{
    border: 2px solid #dedede;
    border-radius: 4px;
    padding: 2px 12px;
}
.axis-x {
    .tick {
      text {
        fill: red !important; // Change color to your preference
      }
    }
  }

.wrap-dropDowns{
    display: flex;
    align-items: center;
    justify-content: center;
}  

.charts-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-section{
    :global(:where(.css-dev-only-do-not-override-nllxry).ant-table-wrapper .ant-table-thead >tr>th){
        padding: 8px 8px 0px !important;
        color: #CFD1D3;
        font-weight: 500;
        background-color: #fff;
        border-bottom: none;
    }

    :global(:where(.css-dev-only-do-not-override-nllxry).ant-table-wrapper .ant-table-tbody>tr>td,){
        padding: 12px 8px !important;
        font-weight: 500;
        border-bottom: none;
    }
    
}

.monthly-selection{

        max-height: 200px !important;
        overflow: auto !important;

}

.button-invoice{
    :global(:where(.css-dev-only-do-not-override-nllxry).ant-btn-default){
        background-color: #E8EEFD !important;
        color:#1a53ee !important;
        font-weight: 500;
    }
}

.heading-text{
    font-weight: 600;
    padding: 12px 0px;
}

.wrap-legends{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.wrap-legends-one{
    @extend .wrap-legends;
}

.sq{
    height: 12px;
    width: 12px;
    background-color: #01BB7D;
    border-radius: 2px;
}

.sq1{
    @extend .sq;
    background-color:#1A53EE
}